button {
    touch-action: manipulation; /* Disable double click to zoom */
    min-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

img {
    width: 100%;
    overflow: clip;
}

.developers {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
    height: 100%;
}

body {
    height: 100dvh;    
    max-height: 100dvh;

    display: flex;
    flex-direction: column;
}

.vote-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.button-container {
    background: dimgrey;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: clip;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}